{% extends 'base.html' %}
{% load i18n %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="{{ SETTINGS.MEDIA_URL }}js/wordcounter.js"></script>
	<script type="text/javascript">		
		$(function() {
			$('textarea').wordCounter();
		});
	</script>
{% endblock %}

{% block content %}
<h1>{% blocktrans with question.title as q_title %}Respondiendo a "{{ q_title }}"{% endblocktrans %}</h1>
<form class="alone" method="post" action="">
	{{ form.as_p }}
	<input class="submit" type="submit" name="responder" value="{% trans 'responder' %}"/>
</form>
{% endblock %}