{% extends "base.html" %}

{% block content %}
<h1>Ingresa tus credenciales.</h1>

{% if form.errors %}
<p>Tu usuario y password no coinciden, intentalo otra vez.</p>
{% endif %}

<form class="alone" method="post" action="{% url login %}">
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<div class="help">
<p>Todavia no ten&eacute;s usuario y contraseña? <a href="{% url register %}">hace click aca</a> para registrarte.</p>
</div>
{% endblock %}
